<!--- NavBar --->
<nav class="tt-nav">
    <div class="container">
        <div class="tt-nav-wrap">
            <a href="index.html" class="tt-nav-brand">
                <img src="assets\images\brand-logo.webp" alt="Travel & Tourism" class="tt-nav-brand-img">
            </a>
            <button class="tt-nav-toggle" type="button" aria-label="Toggle navigation" aria-expanded="false">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="tt-nav-menu">
                <ul class="tt-nav-links">
                    <li class="tt-nav-item"><a href="index.html" class="tt-nav-link"><span>Home</span></a></li>
                    <li class="tt-nav-item"><a href="about.html" class="tt-nav-link"><span>About</span></a></li>
                    <li class="tt-nav-item"><a href="packages.html" class="tt-nav-link"><span>Packages</span></a></li>
                    <li class="tt-nav-item"><a href="blog.html" class="tt-nav-link"><span>Blog</span></a></li>
                    <li class="tt-nav-item"><a href="contact.html" class="tt-nav-link"><span>Contact</span></a></li>
                </ul>
                <div class="tt-nav-action">
                    <a href="login.html" class="tt-nav-login">
                        <span class="tt-nav-login-icon"><i class="bi bi-person"></i></span>
                        <span class="tt-nav-login-text">Login</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>